@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  

}

.text{
  padding: 0px 35px;
}


.container {
  max-height: 100%;
  width: 100%;
}

.navbar {
  max-height: 100%;
  width: 100%;
  box-shadow: 0 1px 4px rgba(176, 146, 164, 0.15);
  background-color: rgb(2, 2, 42);

}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
  
}

.navbar .menu-items {
  display: flex;

}

.navbar .nav-container li {
  list-style: none;
  
}

.navbar .nav-container a {
  text-decoration: none;
  color: white;
  font-weight: 160;
  font-size: 25px;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 80px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 70px;
  width: 30px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  left:25px;
}

.nav-container .hamburger-lines {
  display: block;
  height: 25px;
  width: 30px;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 30px;
  top: 25px;
  
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 80px;
  box-shadow: 0 1px 4px rgba(176, 146, 164, 0.15);;
  height: 100vh;
  width: 100%;
  transform: translate(-100%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  transition: transform 1s ease-in-out;
  text-align: center;
  position: sticky;
  background-color: rgb(2, 2, 42);
  z-index: 2;
}

.navbar .menu-items li {
  font-size: 80px;
  font-weight: 50;
}

.logo img{
  position: fixed;
  width: 100px;
  height: 100px;
  right: 10px;
  top: -12px;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(50deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-50deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}


h1{
    color: black;
    font-size: 30px;   
}

h2 {
    color: black;
    font-size: 20px;
    text-align:left;
}

 
.button1{
  background-color: #c85000;
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 30px;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 150px; 
  top: 10px;
}

.button1:hover {
  transform: translateY(-1px);
}

.button1:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.button2{
  background-color: rgba(51, 51, 51, 0.05);
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #333333;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 30px;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 150px;
  top: 10px; 
}

.button2:hover {
  transform: translateY(-1px);
}

.button2:active {
  transform: translateY(0);
}


.mobile{
  position: relative;
  z-index:0 ;
  border-radius:50%;
  width: 200px; 
  left: 85px;
  top: 40px;
  

}

.fa{
  color: #c85000;
}

@media (max-width:768px){
  .ordi{
      display: none;
  }
  #pic .full{
    display: none;
  }
  .logo1 img{
    display : none
  }
}

@media (min-width:769px){
    .navbar {
        display: none;
    }
    .mobile{
      display: none;
    }
    .ordi{
      max-height: 100%;
      width: 100%;
      box-shadow: 0 1px 4px rgba(176, 146, 164, 0.15);
      background-color: rgb(2, 2, 42);
      
      display: inline-block; 
      
      
    }
    
    .logo1 img{
      position: fixed;
      width: 100px;
      right: 70px;
      top: -10px;

    }
    
    .ordi1 a{
        padding: 40px;
        color: white;
        text-decoration: none
        
    
    }

    .ordi1{
        padding: 30px;
        text-align: left;
         
    }
    
    .text{
      padding: 0 70px;
      margin: 70px 0;
      
        
    }
    
    #pic .full{
      width: 300px;
      float: right;
      border-radius: 50%;
      top: 20px;
    }   
}

